services:
  server:
    build: ./server/
    restart: always
    ports:
      - 5000:5000
    networks:
      - watt-flow-network
    environment:
      SERVER_PORT: 5000
      ENV: ${ENV}
      LOG_LEVEL: ${LOG_LEVEL}
      LOG_OUTPUT: ${LOG_OUTPUT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: postgres
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - 5432:5432
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    networks:
      - watt-flow-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      retries: 5
    restart: always
  
  influxdb2:
    image: influxdb:2
    ports:
      - 8086:8086
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUX_USER}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUX_PASS}
      DOCKER_INFLUXDB_INIT_ORG: watt-flow 
      DOCKER_INFLUXDB_INIT_BUCKET: flow
    volumes:
      - type: volume
        source: influxdb2-data
        target: /var/lib/influxdb2
      - type: volume
        source: influxdb2-config
        target: /etc/influxdb2
    networks:
      - watt-flow-network
  

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
      image: redis:latest
      restart: always
      ports:
        - "6379:6379"
      volumes:
        - redis-data:/root/redis
        - ./config/redis.conf:/usr/local/etc/redis/redis.conf
      environment:
        - REDIS_PASSWORD=password
        - REDIS_PORT=6379
      networks:
        - watt-flow-network

volumes:
  postgres-db-volume:
  influxdb2-data:
  influxdb2-config:
  rabbitmq_data:
  redis-data:
networks:
  watt-flow-network:
